<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AfiliacionCreateDlg" widgetVar="AfiliacionCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAfiliacionTitle}">
            <h:form id="AfiliacionCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{afiliacionController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAfiliacionLabel_id}" for="id" />
                        <p:inputText id="id" value="#{afiliacionController.selected.id}" title="#{bundle.CreateAfiliacionTitle_id}" required="true" requiredMessage="#{bundle.CreateAfiliacionRequiredMessage_id}"/>
                        <p:outputLabel value="#{bundle.CreateAfiliacionLabel_conductor}" for="conductor" />
                        <p:selectOneMenu id="conductor" value="#{afiliacionController.selected.conductor}" >
                            <f:selectItems value="#{conductoresController.itemsAvailableSelectOne}"
                                           var="conductorItem"
                                           itemValue="#{conductorItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAfiliacionLabel_empresa}" for="empresa" />
                        <p:selectOneMenu id="empresa" value="#{afiliacionController.selected.empresa}" >
                            <f:selectItems value="#{empresaController.itemsAvailableSelectOne}"
                                           var="empresaItem"
                                           itemValue="#{empresaItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAfiliacionLabel_vehiculo}" for="vehiculo" />
                        <p:selectOneMenu id="vehiculo" value="#{afiliacionController.selected.vehiculo}" >
                            <f:selectItems value="#{vehiculoController.itemsAvailableSelectOne}"
                                           var="vehiculoItem"
                                           itemValue="#{vehiculoItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{afiliacionController.create}" value="#{bundle.Save}" update="display,:AfiliacionListForm:datalist,:growl" oncomplete="handleSubmit(args,'AfiliacionCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AfiliacionCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
