<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VehiculoEditDlg" widgetVar="VehiculoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditVehiculoTitle}">
            <h:form id="VehiculoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vehiculoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_placa}" for="placa" />
                        <p:inputText id="placa" value="#{vehiculoController.selected.placa}" title="#{bundle.EditVehiculoTitle_placa}" required="true" requiredMessage="#{bundle.EditVehiculoRequiredMessage_placa}"/>
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_motor}" for="motor" />
                        <p:inputText id="motor" value="#{vehiculoController.selected.motor}" title="#{bundle.EditVehiculoTitle_motor}" />
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_chasis}" for="chasis" />
                        <p:inputText id="chasis" value="#{vehiculoController.selected.chasis}" title="#{bundle.EditVehiculoTitle_chasis}" />
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_modelo}" for="modelo" />
                        <p:inputText id="modelo" value="#{vehiculoController.selected.modelo}" title="#{bundle.EditVehiculoTitle_modelo}" />
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_fechamatricula}" for="fechamatricula" />
                        <p:inputText id="fechamatricula" value="#{vehiculoController.selected.fechamatricula}" title="#{bundle.EditVehiculoTitle_fechamatricula}" />
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_pasajerossentados}" for="pasajerossentados" />
                        <p:inputText id="pasajerossentados" value="#{vehiculoController.selected.pasajerossentados}" title="#{bundle.EditVehiculoTitle_pasajerossentados}" />
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_pasajerospie}" for="pasajerospie" />
                        <p:inputText id="pasajerospie" value="#{vehiculoController.selected.pasajerospie}" title="#{bundle.EditVehiculoTitle_pasajerospie}" />
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_pesoseco}" for="pesoseco" />
                        <p:inputText id="pesoseco" value="#{vehiculoController.selected.pesoseco}" title="#{bundle.EditVehiculoTitle_pesoseco}" />
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_pesobruto}" for="pesobruto" />
                        <p:inputText id="pesobruto" value="#{vehiculoController.selected.pesobruto}" title="#{bundle.EditVehiculoTitle_pesobruto}" />
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_cantidadpuertas}" for="cantidadpuertas" />
                        <p:inputText id="cantidadpuertas" value="#{vehiculoController.selected.cantidadpuertas}" title="#{bundle.EditVehiculoTitle_cantidadpuertas}" />
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_marca}" for="marca" />
                        <p:inputText id="marca" value="#{vehiculoController.selected.marca}" title="#{bundle.EditVehiculoTitle_marca}" />
                        <p:outputLabel value="#{bundle.EditVehiculoLabel_linea}" for="linea" />
                        <p:inputText id="linea" value="#{vehiculoController.selected.linea}" title="#{bundle.EditVehiculoTitle_linea}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{vehiculoController.update}" value="#{bundle.Save}" update="display,:VehiculoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'VehiculoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="VehiculoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
