<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListVehiculoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="VehiculoListForm">
                <p:panel header="#{bundle.ListVehiculoTitle}">
                    <p:dataTable id="datalist" value="#{vehiculoController.items}" var="item"
                                 selectionMode="single" selection="#{vehiculoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.placa}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_placa}"/>
                            </f:facet>
                            <h:outputText value="#{item.placa}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_motor}"/>
                            </f:facet>
                            <h:outputText value="#{item.motor}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_chasis}"/>
                            </f:facet>
                            <h:outputText value="#{item.chasis}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_modelo}"/>
                            </f:facet>
                            <h:outputText value="#{item.modelo}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_fechamatricula}"/>
                            </f:facet>
                            <h:outputText value="#{item.fechamatricula}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_pasajerossentados}"/>
                            </f:facet>
                            <h:outputText value="#{item.pasajerossentados}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_pasajerospie}"/>
                            </f:facet>
                            <h:outputText value="#{item.pasajerospie}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_pesoseco}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesoseco}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_pesobruto}"/>
                            </f:facet>
                            <h:outputText value="#{item.pesobruto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_cantidadpuertas}"/>
                            </f:facet>
                            <h:outputText value="#{item.cantidadpuertas}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_marca}"/>
                            </f:facet>
                            <h:outputText value="#{item.marca}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListVehiculoTitle_linea}"/>
                            </f:facet>
                            <h:outputText value="#{item.linea}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{vehiculoController.prepareCreate}" update=":VehiculoCreateForm" oncomplete="PF('VehiculoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":VehiculoViewForm" oncomplete="PF('VehiculoViewDialog').show()" disabled="#{empty vehiculoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":VehiculoEditForm" oncomplete="PF('VehiculoEditDialog').show()" disabled="#{empty vehiculoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{vehiculoController.destroy}" update=":growl,datalist" disabled="#{empty vehiculoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
