<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="VehiculoViewDlg" widgetVar="VehiculoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewVehiculoTitle}">
            <h:form id="VehiculoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{vehiculoController.selected != null}">
                        <h:outputText value="#{bundle.ViewVehiculoLabel_placa}"/>
                        <h:outputText value="#{vehiculoController.selected.placa}" title="#{bundle.ViewVehiculoTitle_placa}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_motor}"/>
                        <h:outputText value="#{vehiculoController.selected.motor}" title="#{bundle.ViewVehiculoTitle_motor}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_chasis}"/>
                        <h:outputText value="#{vehiculoController.selected.chasis}" title="#{bundle.ViewVehiculoTitle_chasis}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_modelo}"/>
                        <h:outputText value="#{vehiculoController.selected.modelo}" title="#{bundle.ViewVehiculoTitle_modelo}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_fechamatricula}"/>
                        <h:outputText value="#{vehiculoController.selected.fechamatricula}" title="#{bundle.ViewVehiculoTitle_fechamatricula}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_pasajerossentados}"/>
                        <h:outputText value="#{vehiculoController.selected.pasajerossentados}" title="#{bundle.ViewVehiculoTitle_pasajerossentados}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_pasajerospie}"/>
                        <h:outputText value="#{vehiculoController.selected.pasajerospie}" title="#{bundle.ViewVehiculoTitle_pasajerospie}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_pesoseco}"/>
                        <h:outputText value="#{vehiculoController.selected.pesoseco}" title="#{bundle.ViewVehiculoTitle_pesoseco}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_pesobruto}"/>
                        <h:outputText value="#{vehiculoController.selected.pesobruto}" title="#{bundle.ViewVehiculoTitle_pesobruto}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_cantidadpuertas}"/>
                        <h:outputText value="#{vehiculoController.selected.cantidadpuertas}" title="#{bundle.ViewVehiculoTitle_cantidadpuertas}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_marca}"/>
                        <h:outputText value="#{vehiculoController.selected.marca}" title="#{bundle.ViewVehiculoTitle_marca}"/>
                        <h:outputText value="#{bundle.ViewVehiculoLabel_linea}"/>
                        <h:outputText value="#{vehiculoController.selected.linea}" title="#{bundle.ViewVehiculoTitle_linea}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="VehiculoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
