<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ConductoresCreateDlg" widgetVar="ConductoresCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateConductoresTitle}">
            <h:form id="ConductoresCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{conductoresController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateConductoresLabel_numeroid}" for="numeroid" />
                        <p:inputText id="numeroid" value="#{conductoresController.selected.numeroid}" title="#{bundle.CreateConductoresTitle_numeroid}" required="true" requiredMessage="#{bundle.CreateConductoresRequiredMessage_numeroid}"/>
                        <p:outputLabel value="#{bundle.CreateConductoresLabel_tipoid}" for="tipoid" />
                        <p:inputText id="tipoid" value="#{conductoresController.selected.tipoid}" title="#{bundle.CreateConductoresTitle_tipoid}" />
                        <p:outputLabel value="#{bundle.CreateConductoresLabel_nombre}" for="nombre" />
                        <p:inputText id="nombre" value="#{conductoresController.selected.nombre}" title="#{bundle.CreateConductoresTitle_nombre}" />
                        <p:outputLabel value="#{bundle.CreateConductoresLabel_direccion}" for="direccion" />
                        <p:inputText id="direccion" value="#{conductoresController.selected.direccion}" title="#{bundle.CreateConductoresTitle_direccion}" />
                        <p:outputLabel value="#{bundle.CreateConductoresLabel_ciudad}" for="ciudad" />
                        <p:inputText id="ciudad" value="#{conductoresController.selected.ciudad}" title="#{bundle.CreateConductoresTitle_ciudad}" />
                        <p:outputLabel value="#{bundle.CreateConductoresLabel_departamento}" for="departamento" />
                        <p:inputText id="departamento" value="#{conductoresController.selected.departamento}" title="#{bundle.CreateConductoresTitle_departamento}" />
                        <p:outputLabel value="#{bundle.CreateConductoresLabel_pais}" for="pais" />
                        <p:inputText id="pais" value="#{conductoresController.selected.pais}" title="#{bundle.CreateConductoresTitle_pais}" />
                        <p:outputLabel value="#{bundle.CreateConductoresLabel_telefono}" for="telefono" />
                        <p:inputText id="telefono" value="#{conductoresController.selected.telefono}" title="#{bundle.CreateConductoresTitle_telefono}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{conductoresController.create}" value="#{bundle.Save}" update="display,:ConductoresListForm:datalist,:growl" oncomplete="handleSubmit(args,'ConductoresCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ConductoresCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
